
@{
    ViewBag.Title = "Calendar";
}
<div>

    <div id="calendar" style="float:left; width:80%"></div>

    <div class="container" style="float: left; width:20%">
        
        <h2>Users</h2>
        <ul id="users"></ul>

        <h2>Chat</h2>

        <ul id="discussion"></ul>
        <div>
            <input type="text" id="message" />
            <input type="text" id="displayname" style="width:50%" />
            <input type="button" id="sendmessage" style="width:50%" value="Send" />
        </div>
    </div>

</div>
<div style="clear:both"></div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <link rel='stylesheet' href="~/Content/fullcalendar.css" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/Core.js"></script>

    <script>

        var calendar;
        var chat;
        var userManager;

        $(document).ready(function () {

            var hub = $.connection.calendarHub;
            var split = document.URL.split('/');
            var id = split[split.length - 1];
            $.connection.hub.qs = "id=" + id;

            userManager = new UserManager(hub, $('#users'));
            calendar = new FullCalendar(hub, userManager, $('#calendar'));
            chat = new Chat(hub, userManager, $('#displayname'), $('#message'),
                $('#sendmessage'), $('#discussion'));

            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                var name = prompt('Enter user name', 'username');
                hub.server.joinGroup(name, id);
            });

        });


    </script>
}