@{
    ViewBag.Title = "Calendar";
}

<div id="reactTest"></div>

@section scripts {

    <script>


        //var calendar;
        //var chat;
        //var userManager;

        //$(document).ready(function () {
        //    $('#registerButton').click(function (e) {
        //        var name = $('#registerName').val();
        //        var email = $('#registerEmail').val();
        //        var password = $('#registerPassword').val();
        //        var userId = userManager.currentUser.UserId;
        //        core.user.registerUser(userId, name, email, password);
        //    });

        //    //var hub = $.connection.calendarHub;
        //    //var split = document.URL.split('/');
        //    //var calendarGuid = split[split.length - 1];
        //    //$.connection.hub.qs = "id=" + calendarGuid;
        //    core.http.get('User/Current')
        //        .done(function (data) {
        //            userManager = new core.UserManager($('#users'));
        //            userManager.setCurrentUser(data);
        //            calendar = new core.FullCalendar(userManager, $('#calendar'));
        //        })
        //        .fail(function (jqXHR, textStatus, errorThrown) {
        //            console.log(textStatus);
        //            console.log(errorThrown);
        //        });
        //    //chat = new core.Chat(hub, userManager, $('#displayname'), $('#message'),
        //    //    $('#sendmessage'), $('#discussion'));

        //    //$.connection.hub.logging = true;
        //    //$.connection.hub.start().done(function () {
        //    //    hub.server.connectToCalendar(calendarGuid).done(function (result) {
        //    //        if (!result) {
        //    //            alert('Failed connecting to calendar. Check user cookie');
        //    //        }
        //    //    });
        //    //});

        //});
    </script>
}