* {
    border: 0px solid;
}

.menu {
    width: 33%;
    max-width: 400px;
    float: left;
    background-color: #eee;
}

.menu-header-option {
    width: 33%;
    float: left;
}

.menu-header-option-select{
    font-weight: bold;
}

.calendar {
    width: 66%;
    float: left;
}